@import 'tailwindcss';

@theme {
  --color-cream: #F5EFE7;
}

.font-kalam {
  font-family: kalam, system-ui;
}

.font-inter {
  font-family: inter, system-ui;
}

.font-robot {
  font-family: roboto, system-ui;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

:root {
  --primary: rgb(115, 114, 116);
  --secondary: rgb(20, 20, 20);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 2px;
  border: 1px solid var(--primary);
}